# Context-aware Recommendation System

In [1]:
import numpy as np 
import pandas as pd

import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [3]:
transactions_df = pd.read_csv(r"C:\Users\AdminPC\Edda Stuff\Edda Data Scientist\Python Projects\datasets\transactions_train.csv")

In [4]:
transactions_df.head(5)

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

 From Dataset details, sales channel id, 2 is online and 1 store.

In [6]:
#last transaction date in dataset
transactions_df.t_dat.max()

'2020-09-22'

In [8]:
transaction_time = pd.to_datetime(transactions_df["t_dat"])

In [16]:
#transaction_year = pd.to_datetime(transaction_time.dt.year)

In [14]:
#Top three article ids bought in the three years
top3_year_article_table = transactions_df.groupby([transaction_time.dt.year]).apply(lambda x : x['article_id'].value_counts().head(3))
top3_year_article_table

t_dat
2018   399223001     7414
       539723005     6724
       562245001     6568
2019   706016001    29869
       706016002    22293
       372860001    15553
2020   706016001    18208
       610776002    13886
       751471001    12828
Name: article_id, dtype: int64

In [20]:
#Top three article ids bought in the months
top3_month_article_table =  transactions_df.groupby([transaction_time.dt.month]).apply(lambda x : x['article_id'].value_counts().head(3))
top3_month_article_table

t_dat
1      689109001    5715
       706016001    5453
       692930001    4314
2      706016001    4499
       706016002    3641
       372860001    2902
3      706016001    5122
       706016002    3872
       372860001    2768
4      610776002    5213
       599580055    5154
       741356002    4552
5      741356002    4074
       610776002    3943
       688537004    3889
6      759871002    4613
       758064001    4362
       749699002    4071
7      759871002    4550
       717490008    3936
       706016001    3482
8      751471001    3943
       706016001    3736
       783346001    2709
9      706016001    5325
       673677002    4142
       751471001    3535
10     399223001    4294
       673677002    3692
       484398001    3080
11     706016001    4934
       673677002    3923
       562245001    3842
12     706016001    4960
       158340001    3561
       156231001    3291
Name: article_id, dtype: int64

In [22]:
#Top 12 items bought in the last 3 weeks since the last date of the dataset(2020-09-22)

top_12_items = transactions_df[transactions_df['t_dat'] > '2020-09-01'].groupby('article_id')['customer_id'].nunique().sort_values(ascending=False).head(12)
top_12_items.index.values.tolist()

[918522001,
 909370001,
 751471001,
 924243001,
 918292001,
 915529003,
 915526001,
 751471043,
 448509014,
 706016001,
 863595006,
 865799006]

In [33]:
transactions_df.article_id.value_counts()

706016001    50287
706016002    35043
372860001    31718
610776002    30199
759871002    26329
             ...
520736002        1
619777003        1
586904003        1
512385003        1
533261032        1
Name: article_id, Length: 104547, dtype: int64

In [28]:
#give article_id
#find which customer bought it
#How many times? 
#Which month was it bought the most? 
#Which other products were bought on that time? 

def check_details(id):
    times_bought = transactions_df.id.value_counts()
    return times_bought